<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<h1 class="h1">Todo App</h1><br>
<h3 class='h3'>TASKS LISTED FOR TODAY</h3>
<a href="/createtodo" id='todocreate'>
    <h3 class='h31'>CREATE A NEW TODO</h3>
</a>
<hr>

<body>
    <div>
        <% if(data.length>0){ %>
        <ol class='ol'>
            <% data.forEach(n=>{ %>
            <a href="/details/<%= n._id%>" id='todocreate'>
                <li class='li'>
                    <h4 class='taskName'><%= n.name %></h4>
                </li>
            </a>
            <% }) %>
        </ol>
        <%}else{%>
        <h2>Nothing To Display!!</h2>
        <%}%>
    </div>
</body>

</html>